In [14]:
import os 

dir= os.getcwd()

print(dir)

/home/alumnado/Escritorio/Programacion/Programacion de Base de datos

In [15]:
import sqlite3

#crear conexion
conexion= sqlite3.connect('bd1.db')

#cierra base de datos
conexion.close()

In [16]:
import sqlite3
conexion= sqlite3.connect('bd1.db')

# Creamos el cursor
cursor = conexion.cursor()

# Ahora crearemos una tabla de usuarios con nombres, edades y emails
cursor.execute("CREATE TABLE IF NOT EXISTS usuarios " \
    "(nombre VARCHAR(100), edad INTEGER, email VARCHAR(100))")

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

In [22]:
import sqlite3

conexion = sqlite3.connect('db1.db')
cursor = conexion.cursor()

# Insertamos un registro en la tabla de usuarios
cursor.execute("INSERT INTO usuarios VALUES('Hector', 27, 'hector@ejemplo.com')")

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

In [26]:
import sqlite3

conexion = sqlite3.connect('db1.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Mostrar el cursos a ver que hay ?
print(cursor)

# Recorremos el primer registro con el método fetchone, devuelve una tupla
usuario = cursor.fetchone()
print(usuario)

conexion.close()

<sqlite3.Cursor object at 0x7f693768f2d0>

In [27]:
import sqlite3

conexion = sqlite3.connect('db1.db')
cursor = conexion.cursor()

# Creamos una lista con varios usuarios
usuarios = [('Mario', 51, 'mario@ejemplo.com'),
            ('Mercedes', 38, 'mercedes@ejemplo.com'),
            ('Juan', 19, 'juan@ejemplo.com')]

# Ahora utilizamos el método executemany() para insertar varios
cursor.executemany("INSERT INTO usuarios VALUES (?,?,?)", usuarios)

# Guardamos los cambios haciendo un commit
conexion.commit()

conexion.close()

In [29]:
import sqlite3

conexion = sqlite3.connect('db1.db')
cursor = conexion.cursor()

# Recuperamos los registros de la tabla de usuarios
cursor.execute("SELECT * FROM usuarios")

# Recorremos todos los registros con fetchall
# y los volcamos en una lista de usuarios
usuarios = cursor.fetchall()

# Ahora podemos recorrer todos los usuarios
for usuario in usuarios:
    print(usuario)

conexion.close()

('Hector', 27, 'hector@ejemplo.com')
('Mario', 51, 'mario@ejemplo.com')
('Mercedes', 38, 'mercedes@ejemplo.com')
('Juan', 19, 'juan@ejemplo.com')

(CODIGO INTEGER PRIMARY KEY,
NOMBRE VARCHAR2(20) NOT NULL,
APELLIDOS VARCHAR2(50) NOT NULL,
FECNAC DATE,
CURSO VARCHAR2(10),
SEXO CHAR(1),
EDAD INTEGER);

In [34]:
import sqlite3

conexion= sqlite3.connect('tabla_empleado.db')

cursor= conexion.cursor()

cursor.execute(
    "CREATE TABLE IF NOT EXISTS  ALUMNOS " \
        """
        (CODIGO INTEGER,
        NOMBRE VARCHAR2(20),
        APELLIDOS VARCHAR2(50),
        FECNAC DATE,
        CURSO VARCHAR2(10),
        SEXO CHAR(1),
        EDAD INTEGER)
        
        """
)

conexion.commit()

conexion.close()

In [36]:
# importing sqlite module
import sqlite3
  
# create connection to the 
# database geek
conexion = sqlite3.connect('tabla_empleado.db')
cursor = conexion.cursor()
  
# drop table
cursor.execute("DROP TABLE ALUMNOS")
  
print("data dropped successfully")
  
# close the connection
conexion.close()

data dropped successfully