Aquí tienes un resumen de los métodos más utilizados en la librería de pandas:

    read_csv(): Lee un archivo CSV y lo convierte en un objeto DataFrame.

    head(): Muestra las primeras filas de un DataFrame (por defecto, las primeras cinco filas).

    tail(): Muestra las últimas filas de un DataFrame (por defecto, las últimas cinco filas).

    info(): Proporciona información sobre un DataFrame, incluyendo su tamaño, número de columnas, tipo de datos y uso de memoria.

    describe(): Proporciona estadísticas descriptivas de un DataFrame, incluyendo la media, la mediana, el máximo, el mínimo y los cuartiles.

    drop(): Elimina una o varias filas o columnas de un DataFrame.
    fillna(): Rellena los valores perdidos (NaN) con un valor específico o con un método de interpolación.

    groupby(): Agrupa un DataFrame por una o varias columnas y aplica una función de agregación a cada grupo.

    sort_values(): Ordena un DataFrame por los valores de una o varias columnas.

    merge(): Combina dos o más DataFrames en función de una o varias columnas en común.

    pivot_table(): Crea una tabla dinámica que resume los datos de un DataFrame en función de una o varias columnas.

    apply(): Aplica una función a cada fila o columna de un DataFrame.

    set_index(): Establece una columna como el índice del DataFrame.

    reset_index(): Restablece el índice de un DataFrame a un rango de valores continuos.
    
    to_csv(): Escribe un objeto DataFrame en un archivo CSV.

Ejercicio 1: Cargar un archivo CSV y mostrar las primeras 5 filas utilizando un objeto DataFrame

In [35]:
import pandas as pd

class Mostrar_dataframe:
    def __init__(self, archivo_ruta):
        self.archivo = archivo_ruta

    def mostrar_dataframe(self):
        df = pd.read_csv(self.archivo)
        return df

    def mostrar_cinco_primeras_filas(self):
        df = self.mostrar_dataframe()
        #head: muestra las 5 primeras filas
        return df.head()

pandas_ejercicio = Mostrar_dataframe('ejer_1.csv')


pandas_ejercicio.mostrar_dataframe()
pandas_ejercicio.mostrar_cinco_primeras_filas()

   id  nombre   edad      genero      ciudad
0   1     Ana     25    Femenino      Madrid
1   2    Luis     30   Masculino   Barcelona
2   3   Maria     22    Femenino    Valencia
3   4    Jose     28   Masculino     Sevilla
4   5   Lucia     26    Femenino      Bilbao

Calcular la media y la desviación estándar de una columna en un DataFrame

In [36]:
import pandas as pd

class Calcular:
    def __init__(self, ruta_archivo, nombre_columna):
        self.ruta_archivo = ruta_archivo
        self.nombre_columna = nombre_columna

    def mostrar_archivo(self):
        df = pd.read_csv(self.ruta_archivo)
        return df

    def calcular_promedio(self):
        df = self.mostrar_archivo()
        mean = df[self.nombre_columna].mean()
        return mean

    def calcular_desviacion(self):
        df = self.mostrar_archivo()
        std = df[self.nombre_columna].std()
        return std

pandas_ejercicio2 = Calcular('ejer_2.csv', 'nombre')
promedio= Calcular('ejer_2.csv', 'altura')
desviacion= Calcular('ejer_2.csv', 'peso')

pandas_ejercicio2.mostrar_archivo()
promedio.calcular_promedio()
desviacion.calcular_desviacion()

12.240302283849038

Agrupar un DataFrame por una columna y calcular la media de otra columna

Solución:

In [52]:
import pandas as pd

class Tienda:
    def __init__(self, archivo, columna_agrupacion, columna_promedio):
        self.ruta_archivo = archivo
        self.columna_agrupacion = columna_agrupacion
        self.columna_promedio = columna_promedio

    def Mostrar_dataframe(self):
        df = pd.read_csv(self.ruta_archivo)
        return df

    def Mostrar_promedio_articulos(self):
        df = self.Mostrar_dataframe()
        dataframe_agrupado = df.groupby(self.columna_agrupacion)[self.columna_promedio].mean()
        return dataframe_agrupado

tabla = Tienda('ejer_3.csv', 'Categoría', 'Ventas_diarias')
#print(pandas_exercise.group_by_and_mean())

tabla.Mostrar_dataframe()
tabla.Mostrar_promedio_articulos()

Categoría
Camisas       200.000000
Pantalones    133.333333
Zapatos        90.000000
Name: Ventas_diarias, dtype: float64